<!--The content below is only a placeholder and can be replaced.-->
<div class="home">
  <h1>Представлен в брендах</h1>
  <div class="homeBtnGroup">

    <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false"
     autocomplete="off" routerLink="/prise">
      Все бренды
    </button>

    <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false" 
    autocomplete="off" routerLink="/bonfesto">
      Bonfesto
    </button>

    <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false" 
    autocomplete="off" routerLink="/cooking">
      Villmonte
    </button>

    <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false" 
    autocomplete="off" routerLink="/villmonte">
      CooKing
    </button>

  </div>

  <router-outlet></router-outlet>

</div>


